<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <title>Example-2</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>
    <div>
        <h2>Example-2</h2>
    </div>
    <div id="statsContainer"></div>
    <div id="canvasContainer"></div>

    <script type="text/javascript" src="{% static 'src-example-2/js/0-globals.js' %}"></script>
    <script type="text/javascript" src="{% static 'src-example-2/js/0-toolbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'src-example-2/js/1-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'src-example-2/js/1-controlling.js' %}"></script>
    <script type="text/javascript" src="{% static 'src-example-2/js/1-placing.js' %}"></script>
    <script type="text/javascript" src="{% static 'src-example-2/js/1-animating.js' %}"></script>

    <script type="module">
        import * as THREE from "{% static 'node_modules/three/build/three.module.js' %}";
        import Stats from "{% static 'node_modules/three/examples/jsm/libs/stats.module.js' %}";
        import { OrbitControls } from "{% static 'node_modules/three/examples/jsm/controls/OrbitControls.js' %}";
        import { ShadowMapViewer } from "{% static 'node_modules/three/examples/jsm/utils/ShadowMapViewer.js' %}";
        init(THREE);
        addMISC(THREE, OrbitControls);
        addStats(Stats);
        placeAll(THREE, ShadowMapViewer);
        startLoop();
    </script>
</body>

</html>