<!DOCTYPE html> {% load static %}

<html lang="en">
    <head>
        <title>Example-3</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
        />
        <link rel="stylesheet" href="{% static 'src/css/style.css' %}" />
        <script
            type="text/javascript"
            src="{% static 'src/js/toolbox.js' %}"
        ></script>
        <script
            type="text/javascript"
            src="{% static 'node_modules/d3/d3.v7.min.js' %}"
        ></script>
    </head>

    <body>
        <div id="titleContainer">
            <h2>Example-3</h2>
        </div>

        <div id="widgetContainer">
            <div>
                <input id="inp-1" type="range" onchange="angOnChange()" />
                <input id="inp-2" type="range" onchange="angOnChange()" />
                <input id="inp-3" type="range" onchange="angOnChange()" />
                <input type="button" value="Random" onclick="randomAng()" />
                <p id="out-ang">-- | -- | --</p>
                <p id="out-angTarget">-- | -- | --</p>
            </div>
            <div>
                <input
                    id="sphere-x"
                    min="-10"
                    max="10"
                    type="range"
                    onchange="sphereOnChange()"
                />
                <input
                    id="sphere-y"
                    min="10"
                    max="25"
                    type="range"
                    onchange="sphereOnChange()"
                />
                <input
                    id="sphere-z"
                    min="-10"
                    max="10"
                    type="range"
                    onchange="sphereOnChange()"
                />
                <input
                    id="random-sphere-btn"
                    type="button"
                    value="Random"
                    onclick="randomSphere()"
                />
            </div>
        </div>

        <div id="statsContainer"></div>
        <div id="canvasContainer">
            <script
                type="text/javascript"
                src="{% static 'src/js/quickDeploy.js' %}"
            ></script>
            <script
                type="text/javascript"
                src="{% static 'src-example-3/js/placeObjects.js' %}"
            ></script>
            <script
                type="text/javascript"
                src="{% static 'src-example-3/js/setupLights.js' %}"
            ></script>
            <script
                type="text/javascript"
                src="{% static 'src-example-3/js/startLoop.js' %}"
            ></script>

            <script type="module">
                import * as THREE from "{% static 'node_modules/three/build/three.module.js' %}";
                import Stats from "{% static 'node_modules/three/examples/jsm/libs/stats.module.js' %}";
                import { OrbitControls } from "{% static 'node_modules/three/examples/jsm/controls/OrbitControls.js'%}";
                import { ShadowMapViewer } from "{% static 'node_modules/three/examples/jsm/utils/ShadowMapViewer.js' %}";
                quickDeploy(THREE, OrbitControls, Stats);
                placeObjects(THREE);
                setupLights(THREE, ShadowMapViewer);
                startLoop();
            </script>
        </div>
        <script type="text/javascript">
            // Script of Arms Arc Controller
            // Collect the Arms
            const arms = [Globals.arm1, Globals.arm2, Globals.arm3];

            // Setup the min/max for the rangeSliders
            arms.forEach((d) => {
                document.getElementById(d.gid).min = d.minAng;
                document.getElementById(d.gid).max = d.maxAng;
            });

            // Setup the values of rangeSliders with random value
            randomAng = () => {
                arms.forEach((d) => {
                    const ang = parseInt(
                        Math.random() * (d.maxAng - d.minAng) + d.minAng
                    );
                    document.getElementById(d.gid).value = ang;
                });
                angOnChange();
            };

            // randomAng();

            // Setup the target angle for the arms
            angOnChange = () => {
                arms.forEach((d) => {
                    const ang = document.getElementById(d.gid).value;
                    d.arcTarget = arc(ang);
                });
            };

            // angOnChange();
            // randomAng();
        </script>

        <script type="text/javascript">
            randomSphere = () => {
                d3.json("example3/random").then((raw) => {
                    console.log(raw);
                    const s = raw.dest.split(",");
                    const sphere = Globals.sphere;
                    document.getElementById(sphere.namePre + "x").value = s[0];
                    document.getElementById(sphere.namePre + "y").value = s[1];
                    document.getElementById(sphere.namePre + "z").value = s[2];
                    sphereOnChange();
                });
            };

            sphereOnChange__Backup = () => {
                const sphere = Globals.sphere;
                const x = document.getElementById(sphere.namePre + "x").value;
                const y = document.getElementById(sphere.namePre + "y").value;
                const z = document.getElementById(sphere.namePre + "z").value;
                sphere.position = [x, y, z];

                const content = sphere.position.join(",");
                console.log("The content is", content);
                d3.json("example3/solve/" + content).then((raw) => {
                    console.log(raw);
                    const s = raw.arcs.split(",");
                    arms[0].arcTarget = parseFloat(s[0]);
                    document.getElementById(arms[0].gid).value = deg(s[0]);
                    arms[1].arcTarget = parseFloat(s[1]);
                    document.getElementById(arms[1].gid).value = deg(s[1]);
                    arms[2].arcTarget = parseFloat(s[2]);
                    document.getElementById(arms[2].gid).value = deg(s[2]);
                });
            };

            sphereOnChange = () => {
                const sphere = Globals.sphere;
                const x = document.getElementById(sphere.namePre + "x").value;
                const y = document.getElementById(sphere.namePre + "y").value;
                const z = document.getElementById(sphere.namePre + "z").value;
                sphere.position = [x, y, z];

                const content1 = sphere.position.join(",");
                const content2 = arms.map((e) => e.arcTarget).join(",");
                const content = content1 + "," + content2;

                console.log("The content is", content);
                d3.json("example3/solve_init/" + content).then((raw) => {
                    console.log(raw);
                    const s = raw.arcs.split(",");
                    arms[0].arcTarget = parseFloat(s[0]);
                    document.getElementById(arms[0].gid).value = deg(s[0]);
                    arms[1].arcTarget = parseFloat(s[1]);
                    document.getElementById(arms[1].gid).value = deg(s[1]);
                    arms[2].arcTarget = parseFloat(s[2]);
                    document.getElementById(arms[2].gid).value = deg(s[2]);
                });
            };
        </script>
    </body>
</html>
